.inputBorder{
  font-size:18px;
  border:solid 1px #aaaaaa;
  border-radius: 4px;
  background-color:white
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #aaaaaa;
  opacity: 1; /* Firefox */
}