.inputBorder{
  font-size:18px;
  border:solid 0px transparent;
  border-radius: 4px;
  background-color:white;
  text-align: right;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #323232;
  opacity: 1; /* Firefox */
}